:root {
    --box-color: #DEE2FF;
    --text-color: #2c1c6d;
    --text-color-2: #DEE2FF;
}
  
#questions {
    grid-area: 2 / 1 /span 1 /span 2;
    width: 60%;
    margin: 1em auto 0;
}

.question {
    background-color: var(--ticket-box-color);
}

.question .dropdown-button > h3 {
    padding: 1em 10em 1em .8em;
    font-size: 1.2rem;
    margin: 0;
}

.question .dropdown-button {
    cursor: pointer;
    display: flex;
    background-color: var(--text-color);
    color: white;
    align-items: center;
    position: relative;
}

.question .dropdown-button .open, .question .dropdown-button .close {
    position: absolute;
    right: 0;
    padding: 0 1.4em;
    margin-left: auto;
    font-size: 1.2rem;
}

.question .dropdown-content {
    padding: 0 1em;
}

.question .dropdown-content > p {
    margin: 0;
    padding: 1em 0;
}
