:root {
    --box-color: #DEE2FF;
    --text-color: #2c1c6d;
    --text-color-2: #DEE2FF;
}
  
#questions {
    grid-area: 2 / 1 /span 1 /span 2;
    width: 60%;
    margin: 1em auto 0;
}

.question {
    background-color: var(--box-color);
}

.faq-header {
    cursor: pointer;
}

.faq-header > h3 {
    padding: 1em 10em 1em .8em;
    font-size: 1.2rem;
    margin: 0;
}

.faq-header {
    display: flex;
    background-color: var(--text-color);
    color: white;
    align-items: center;
    position: relative;
}

.faq-header .open, .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 1.4em;
    margin-left: auto;
    font-size: 1.2rem;
}

.faq-answer {
    display: none;
    padding: 0 1em;
}

.faq-answer > p {
    margin: 0;
    padding: 1em 0;
}

.show {
    display: block;
}