:root {
    --box-color: #ABC4AA;
    --text-color: #675D50;
    --text-color-2: #A9907E;
}

section#login, section#register {
    grid-area: 2 / 1 / span 1 / span 2;
    background-color: var(--box-color);
    border-radius: 1em;
    padding: 1em;
    margin: 2em auto;
}

section#login {
    width: 25em;
}

section#login h1, section#register h1 {
    text-align: center;
    color: var(--text-color);
}

section#login form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}

section#login input, section#register #user_info input {
    width: 100%;
    height: 2em;
    margin-top: 1em;
    background-color: var(--box-color);
    border: none;
    border-bottom: solid var(--text-color) 1px;
}

section#login button, section#register button {
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--text-color);
    color: white;
    font-size: 1rem;
    align-self: flex-end;
    margin-right: 1.5em;
    cursor: pointer;
}

section#login #not_registered {
    font-size: 0.7rem;
    margin-left: 1em;
}

section#login #not_registered a {
    color: var(--text-color-2);
}

section#register {
    width: 40em;
}

section#register form {
    display: grid;
    grid-template-columns: [start] 35% [mid] 65% [end];
}

section#register form > label:first-child{
    grid-column: start / mid;
    height: min-content;
    align-self: center;
}

section#register input[type="file"]{
    visibility: hidden;
}

section#register img {
    width: 12rem;
    height: auto;
    filter: invert(35%) sepia(6%) saturate(1204%) hue-rotate(354deg) brightness(98%) contrast(86%);
}

section#register #user_info{
    grid-column: mid / end;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

section#register button {
    grid-column: mid / end;
    justify-self: end;
    margin: 1em 1.5em 0 0;
}


@media (max-width: 30em){
    section#register, section#login {
        max-width: 85%;
    }

    section#register img {
        width: 5rem;
    }

    section#register #user_info{
        grid-column: start / end;
    }

    section#register form > label:first-child{
        grid-column: start / end;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#register input[type="file"]{
        height: 0;
    }
}